<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookMaster">
    <insert id="deleteBook" parameterType="map">
        DELETE
          FROM BOOK_MASTER
    </insert>

    <insert id="insertBook" parameterType="map">
        MERGE INTO BOOK_MASTER T
            USING (
                SELECT
                    #{ISBN} AS ISBN,
                    #{TITLE} AS TITLE,
                    #{AUTHOR} AS AUTHOR,
                    #{PUBLISHER} AS PUBLISHER,
                    TO_DATE(#{PUBLISH_DATE}, 'YYYY-MM-DD') AS PUBLISH_DATE,
                    #{COVER_IMAGE} AS COVER_IMAGE
                FROM DUAL
            ) S
            ON (T.ISBN = S.ISBN)
            WHEN MATCHED THEN
                UPDATE SET
                    T.TITLE = S.TITLE,
                    T.AUTHOR = S.AUTHOR,
                    T.PUBLISHER = S.PUBLISHER,
                    T.PUBLISH_DATE = S.PUBLISH_DATE,
                    T.COVER_IMAGE = S.COVER_IMAGE
            WHEN NOT MATCHED THEN
                INSERT (ISBN, TITLE, AUTHOR, PUBLISHER, PUBLISH_DATE, COVER_IMAGE)
                    VALUES (S.ISBN, S.TITLE, S.AUTHOR, S.PUBLISHER, S.PUBLISH_DATE, S.COVER_IMAGE)
    </insert>
</mapper>